<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><u>LATEST FEEDS:</u></h2>
<p>
        {{ posts[0][0] }}
</p>
 <p>
        {{ posts[1] }}
 </p>
 <p>
        {{ posts[2] }}
 </p>
 <p>
        {{ posts[3] }}
 </p>
 <p>
        {{ posts[4] }}
 </p>
 <p>
        {{ posts[5] }}
 </p>

<h2>
      <h1>Let's do SENTIMENTAL ANALYSIS:</h1>

    <p>
        <a href="test_link">CLICK HERE</a>
    </p>
</h2>

{#<p>#}
{#    {{ result[0] }}#}
{#</p>#}
{##}
{#<p>#}
{#    {{ result[1] }}#}
{#</p>#}
{##}
{#<p>#}
{#    {{ result[2] }}#}
{#</p>#}
{##}
{#<p>#}
{#    {{ result[3] }}#}
{#</p>#}
{##}
{#<p>#}
{#    {{ result[4] }}#}
{#</p>#}
{##}
{#<p>#}
{#    {{ result[5] }}#}
{#</p>#}








</body>
</html>