<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{ result[0]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[0]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[0]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[0]['neu'] * 100}}%</label>
    </p>

<h2>{{ result[1]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[1]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[1]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[1]['neu'] * 100}}%</label>
    </p>

<h2>{{ result[2]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[2]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[2]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[2]['neu'] * 100}}%</label>
    </p>

<h2>{{ result[3]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[3]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[3]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[3]['neu'] * 100}}%</label>
    </p>

<h2>{{ result[4]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[4]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[4]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[4]['neu'] * 100}}%</label>
    </p>

<h2>{{ result[5]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[5]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[5]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[5]['neu'] * 100}}%</label>
    </p>

<h2>{{ result[6]['headline'] }}</h2>
    <p>
   <label   style="background-color:#72e5a5;"> Postive {{  result[6]['pos'] * 100}}% </label>
    <label style="background-color:#e7725c;">Negative {{  result[6]['neg'] * 100}}%</label>
    <label style="background-color:#62affa;">Neutral {{  result[6]['neu'] * 100}}%</label>
    </p>

</body>
</html>